header {
    background-color: #273043;
    text-transform: uppercase;
    color: #01aef0;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    text-align: center;
}

.stops-tabs {
    list-style-type: none;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.stops-tabs a {
    display: block;
    padding: 14px 20px 10px 20px;
    text-decoration: none;
    color: slategrey;
}

.stops-tabs a.active-tab {
    color: #ca054d;
    border-bottom: 4px solid #ca054d;
}