.settings {
  flex: 1;
}

.settings ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.settings ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
