html {
  background: #0b2027;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background: #42275a;
  background: -webkit-linear-gradient(to bottom, #42275a, #0b2027);
  background: linear-gradient(to bottom, #42275a, #0b2027);
}

button {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
  background-color: #ca054d;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 8px;
}

button:focus {
  outline: 0;
}
